:root {
  --main-color-1: #4C30FF;
  --main-color-2: #e0dbff; 
  --black-color: #3b3b3b;
}

.color-1 {
  color: var(--main-color-1);
}

.color-2 {
  color: var(--main-color-2);
}

.color-black {
  color: var(--black-color);
}

body {
	font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0; 
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  
}



nav {
  padding: 0 15px;
	grid-column: 1 / -1;
  display: flex;
	justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 40px;
  padding: 0 15px;
}

img .Title {
  width: 100px;
}

nav {
  background-color: var(--black-color);
}

nav ul {
	display: flex;
}

nav li {
	list-style: none;
	padding-left: 30px;
}

nav a {
	font-size: 1.2rem;
	text-decoration: none;
	color: white;
	position: relative;
}

nav a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color-2);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

nav a:hover:before {
	visibility: visible;
  width: 100%;
}

.hero {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4rem;
  position: relative;
}

.hero p {
  font-size: 1.4rem;
  color: var(--black-color);
  text-align: center;
}

.btn {
  color: white;
  border: 1px solid var(--main-color-1);
  border-radius: 5px;
  background: var(--main-color-1);
  padding: 10px;
  font-size: 1.2rem;
  text-decoration: none;

}

.btn:hover {
  color: var(--main-color-1); 
  background-color: var(--main-color-2);
}

.solid {
  font-family: 'Londrina Solid', cursive;
}

.outline {
  font-family: 'Londrina Outline', cursive;
}

.container {
  width: 100%;
  height: 100%;
}