

body {
  font-size: 16px;
}

h1 {
  font-size: 4rem;
  margin-top: 30%;
  margin-bottom: 0;
  padding-bottom: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

h2 {
  padding: 0;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 4rem;
}

#next {
  width: 250px;
  border-radius: 5px;
  margin-bottom: 30%;

}


.wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  height: 100%;
}

.box {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}